* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./images/background.png');
  color: white;
}

header {
  display: flex;
  font-size: 40px;
  justify-content: center;
  padding: 25px;
}

.title-container {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid white;
  display: flex;
  font-size: 35px;
  justify-content: center;
  margin: 20px auto;
  padding: 15px;
  width: 70%;
}

.planetDisplay {
  display: flex;
}

img {
  width: 200px;
}

.missions-container {
  display: flex;
  border: 2px solid white;
  flex-wrap: wrap;
  width: 100%;
}

.mission-card {
  border: 2px solid rgba(255, 255, 255, 0.658);
  margin: 15px;
  padding: 20px;
  height: 100px;
  width: 100px;
}
